<div class="container">
  <div class="card">
    <div class="avatar">
      <img [src]="userProfilePic" alt="myPic" style="width:100%">
    </div>
    <h3>{{ userName }}</h3>
    <div class="card-body">
      <input type="text" [(ngModel)]="term" class="form-control search" placeholder="SEARCH...">
      <table class="table table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th (click)="setOrder('name')">Repo <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let repo of userRepo | filter:term | orderBy: order : reverse">
            <td>{{ repo.id }}</td>
            <td><a [href]="repo.html_url" target="_blank">{{ repo.name }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>