.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    justify-content: center;
    align-self: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  }
  
  .card .avatar img {
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

thead th {
  text-align:left;
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}
tbody tr {
 text-align: left;
}

.search{
  margin-bottom: 5px;
}